body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
.photos, .trending-photos {
    padding-bottom: 20px;
    clear: both;
}
.photo-item {
    float: left;
    margin-bottom: 5px;
    position: relative;
}
.searchForm{
    margin-bottom: 3%;
    padding: 1%;
    width:40%;
    float: right;
}
.mainphoto{
    width:100%;
}
.maincontainer{
    background:#dbdbdb;
}
body{
    background:#dbdbdb; 
}
.vs-label{
    color:darkred;
    font-family: fantasy;
    font-weight: bold;
    font-size: 36px;
}
.que-tit{
    color:darkblue;
    font-weight: bold;
    font-size: 24px;
}
.header-title
{
    color: darkred;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 48px;
}
.detail-panel {
    min-height: 300px;
    padding: 9px;
    margin-bottom: 0;
    background-color: #f5f5f5;

    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.body{
    borde:1px solid red;
    padding:2%;
}
.vehicle-details{
    background: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
    height:200px;
}

.detail-title{
    font-weight: bold;
    color: graytext;
    margin: 3px 0 0 0;
    padding: 3px;
    line-height: 30px;
    margin-left: -5px;
    font-size: 18px;
}
.price{
    font-weight: bold;
    color:darkblue;
    font-size: 24px;
    font-style: italic;
}
#reviews-container
{
    padding:10px;
}
.review-div{
    border:1px solid lightgray;
    background: #dbdbdb;
    border-radius: 10px;
    padding:10px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    min-height: 400px;    
}
.photos, .trending-photos {
    padding-bottom: 20px;
    clear: both;
}
.photo-item {
    float: left;
    margin-bottom: 5px;
    position: relative;
}

.preview-panel-content1{
    margin-bottom: 5%;
}
.preview-panel .preview-panel-content {
    padding: 30px 15px;

}
.preview-panel .preview-panel-content h4 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}
.preview-panel .preview-panel-content p {
    margin: 15px 0;
}
.preview-panel .preview-panel-content .btn {
    font-size: 11px;
    border-color: #eeeeee;
}
.car-image-s-r{
    width: 100%; 
    height:50%;
}
.car-image-s-r-container{
    background-color:whitesmoke;
    margin-right:1%; 
    height:350px;
    padding: 1%;
}

@media (min-width: 768px){
    .col-sm-3 {
    width: 24%;
}
}
